<!DOCTYPE html>
<html>
<%- include('headers.html'); -%>
<title>Door</title>
<body>
<div class="mobile-container">
    <%- include('nav.html'); -%>
    <iframe name="dummyframe" style="width:0; height:0; border:none" ></iframe>
    <div id="myBody" class="outer-box">
        <div class="inner-box">
            <br><br><br><br>
            <div class="flex-container-column">
                <h2>Door</h2>
                <form action="/door/open" target="dummyframe">
                    <br><input class="nav-bs" type="submit" value="OPEN">
                </form>
                <form action="/door/close" target="dummyframe">
                    <br><input class="nav-bs" type="submit" value="CLOSE">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>