<!DOCTYPE html>
<html>
<%- include('headers.html'); -%>
<title>Error</title>
<body>
<div class="mobile-container">
    <%- include('nav.html'); -%>
    <iframe name="dummyframe" style="width:0; height:0; border:none" ></iframe>
    <div id="myBody" class="outer-box">
        <div class="inner-box">
            <div class="flex-container-column" style="font-size: 12px">
                <h2>Error</h2>
                <div><br></div>
                <div><br></div>
                <% if(locals.message){ %>
                <div class="alert alert-success" role="alert">
                    <strong><%- message %></strong>
                    <br>
                    <br>
                    <br>
                    <%=locals.message.error%>
                    <br>
                    <%=locals.message.error_description%>
                </div>
                <% } %>

            </div>
        </div>
    </div>
</div>
</body>
</html>