<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        socket.on('connect', () => {
            console.log("connection child")
        });
    </script>
</head>
<%- include('nav.html'); -%>
<body class="mainBackground ">
    <div class="center">
        <div class="vertical">
            <h1 class="color-two">Home.</h1>
            <br>
            Your IP is: <%- test %>
        </div>
    </div>
</body>
</html>