<!DOCTYPE html>
<html>
<%- include('headers.html'); -%>
<title>Lights</title>
<body>
<div class="mobile-container">
    <%- include('nav.html'); -%>
    <iframe name="dummyframe" style="width:0; height:0; border:none" ></iframe>
    <div class="outer-box" id="myBody">
        <div class="inner-box">
            <br><br><br><br>
            <div class="flex-container-row">
                <div>
                    <h2>LAMP</h2>
                    <form action="/lights/bedroom/lamp" method="post" target="dummyframe">
                        <input type="hidden" name="status" value="true" />
                        <br><input class="nav-bs" type="submit" value="On">
                    </form>
                    <form action="/lights/bedroom/lamp" method="post" target="dummyframe">
                        <input type="hidden" name="status" value="false" />
                        <br><input class="nav-bs" type="submit" value="Off">
                    </form>
                </div>
                <div>
                    <h2>XMAS</h2>
                    <form action="/lights/bedroom/xmas" method="post" target="dummyframe">
                        <input type="hidden" name="status" value="true" />
                        <br><input class="nav-bs" type="submit" value="On">
                    </form>
                    <form action="/lights/bedroom/xmas" method="post" target="dummyframe">
                        <input type="hidden" name="status" value="false" />
                        <br><input class="nav-bs" type="submit" value="Off">
                    </form>
                </div>
                <div>
                    <h2>STRIP</h2>
                    <form action="/lights/inside">
                        <br><input class="nav-bs" type="submit" value="Inside">
                    </form>
                    <form action="/lights/outside">
                        <br><input class="nav-bs" type="submit" value="Outside">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>








