<!DOCTYPE html>
<html>
<%- include('headers.html'); -%>
<title>Lights</title>
<body>
<div class="mobile-container">
    <%- include('nav.html'); -%>
    <iframe name="dummyframe" style="width:0; height:0; border:none" ></iframe>

    <div class="outer-box" id="myBody">
        <div class="inner-box">
            <div class="flex-container-column">
                <h2>Inside Light Strip</h2>
                <div class="flex-container-row">
                    <div>
                        <form action="/lights/strip/inside" target="dummyframe">
                            <input type="hidden" name="status" value="clear" />
                            <br><input class="nav-bs" type="submit" value="Clear">
                        </form>
                        <form action="/lights/strip/inside" target="dummyframe">
                            <input type="hidden" name="status" value="rainbowCycle" />
                            <br><input class="nav-bs" type="submit" value="Rainbow">
                        </form>
                    </div>
                    <div>

                        <form action="/lights/strip/inside" target="dummyframe">
                            <input type="hidden" name="status" value="twilight" />
                            <br><input class="nav-bs" type="submit" value="Twilight">
                        </form>
                        <form action="/lights/inside/custom">
                            <br><input class="nav-bs" type="submit" value="Custom">
                        </form>
                    </div>
                    <div>
                        <form action="/lights/strip/inside" target="dummyframe">
                            <input type="hidden" name="status" value="red" />
                            <br><input class="nav-bs" type="submit" value="Red">
                        </form>
                        <form action="/lights/strip/inside" target="dummyframe">
                            <input type="hidden" name="status" value="wipeWhite" />
                            <br><input class="nav-bs" type="submit" value="Wipe White">
                        </form>
                    </div>
                </div>
                <div><br></div>
                <div><br></div>
                <div>
                    <form action="/lights">
                        <br><input class="nav-bs" type="submit" value="Back">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>








