<!DOCTYPE html>
<html>
<%- include('headers.html'); -%>
<title>Lights</title>
<body>
<div class="mobile-container">
    <%- include('nav.html'); -%>
    <iframe name="dummyframe" style="width:0; height:0; border:none" ></iframe>
    <div id="outer-box">
        <div id="inner-box">
            <div class="flex-container-row">
                <div>
                    <h2>LAMP</h2>
                    <form action="/lights/bedroom/lamp" target="dummyframe">
                        <input type="hidden" name="status" value="true" />
                        <br><input class="nav-bs" type="submit" value="ON">
                    </form>
                    <form action="/lights/bedroom/lamp" target="dummyframe">
                        <input type="hidden" name="status" value="false" />
                        <br><input class="nav-bs" type="submit" value="OFF">
                    </form>
                </div>
                <div>
                    <h2>XMAS</h2>
                    <form action="/lights/bedroom/xmas" target="dummyframe">
                        <input type="hidden" name="status" value="true" />
                        <br><input class="nav-bs" type="submit" value="ON">
                    </form>
                    <form action="/lights/bedroom/xmas" target="dummyframe">
                        <input type="hidden" name="status" value="false" />
                        <br><input class="nav-bs" type="submit" value="OFF">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>








