<!DOCTYPE html>
<html>
<%- include('headers.html'); -%>
<title>Logs</title>
<body>
<div class="mobile-container">
    <%- include('nav.html'); -%>
    <iframe name="dummyframe" style="width:0; height:0; border:none" ></iframe>
    <div id="outer-box">
        <div id="inner-box">
            <div class="flex-container-column">
                <h1 >Logs.</h1>
                <table>
                    <% for (item in log_entries) { %>
                    <tr>
                        <div><%- log_entries[item].date.toLocaleString() %> - <%- log_entries[item].message %></div>
                    </tr>
                    <% } %>
                </table>
                <span>
                    <a href="/logs?page_num=<%- page_num-1 %>" class="seek"><h2>&#8249;</h2></a>
                    Page: <%- page_num %>
                    <a href="/logs?page_num=<%- eval(page_num) + eval(1) %>" class="seek"><h2>&#8250;</h2></a>
                </span>
            </div>
        </div>
    </div>
</div>
</body>
</html>