<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logs</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        socket.on('connect', () => {
            socket.emit('page_load', 'Logs');
        });
    </script>
</head>
<%- include('nav.html'); -%>
<body class="mainBackground ">
    <div class="center">
        <div class="vertical">
            <h1 class="color-two">Logs.</h1>
            <table>
                <% for (item in log_entries) { %>
                <tr>
                    <div><%- log_entries[item].date.toLocaleString() %> - <%- log_entries[item].message %></div>
                </tr>
                <% } %>
            </table>
            <br><br>
            <span>
                <a href="/logs?page_num=<%- page_num-1 %>" class="seek"><h2>&#8249;</h2></a>
                Page: <%- page_num %>
                <a href="/logs?page_num=<%- eval(page_num) + eval(1) %>" class="seek"><h2>&#8250;</h2></a>
            </span>
        </div>
    </div>
</body>
</html>