<!DOCTYPE html>
<html>
<%- include('headers.html'); -%>
<title>Motion</title>
<body>
<div class="mobile-container">
    <%- include('nav.html'); -%>
    <iframe name="dummyframe" style="width:0; height:0; border:none" ></iframe>
    <div id="myBody" class="flex-container-column">
        <h2>Motion</h2>
        <div class="flex-container-row">

        </div>
        <div>
            test
        </div>
        <div><br></div>
        <div>
            <form action="/">
                <br><input style="height:10vh; width:10vw;" type="submit" value="Home">
            </form>
        </div>
    </div>
</div>
</body>
</html>