<!DOCTYPE html>
<html>
<%- include('headers.html'); -%>
<title>Motion</title>
<body>
<div class="mobile-container">
    <%- include('nav.html'); -%>
    <iframe name="dummyframe" style="width:0; height:0; border:none" ></iframe>
    <div id="myBody" class="flex-container-column">
        <h2>Motion</h2>

        <div class="flex-container-row">
            <div id=image><div class="loader"></div></div>
        </div>

        <div><br></div>
        <div class="flex-container-row">
            <input class="nav-bs" type="submit" value="Previous" onclick="backward()">
            <div id="assetId"><%- recordCount -%></div>
            <input class="nav-bs" type="submit" value="Next" onclick="forward()">
        </div>
    </div>
</div>
</body>
<script>
    let xhttp = new XMLHttpRequest();

    let currentId = <%- recordCount -%>;

    console.log( currentId );

    function forward() {
        currentId++;
        getAsset(currentId)
    }

    function backward() {
        currentId--;
        getAsset(currentId)
    }

    function getAsset(id) {
        let path = "/motion/data/"+id;
        document.getElementById("image").innerHTML = "<div class=\"loader\"></div>";
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("image").innerHTML = "<img style=\"max-width:100%;max-height:100%;\" src=\"data:image/gif;base64,"+this.responseText+"\">";
                document.getElementById("assetId").innerHTML = id;
                return true;
            } else if (this.readyState == 4 && this.status == 404) {
                document.getElementById("image").innerHTML = "<img style=\"max-width:90vw;max-height:20vh;\" src=\"/image-not-found.png\">";
                document.getElementById("assetId").innerHTML = id;
                return false;
            }
        };
        xhttp.open("GET", path, true);
        xhttp.send();
    }

    getAsset(currentId);
</script>
</html>