<nav>
    <div>
        <ul class="Navbar">
            <li class="Navbarli"><a href="lights" class="Navbarlia">Lights</a></li>
            <li class="Navbarli"><a href="/" class="Navbarlia">Home</a></li>
            <li class="Navbarli"><a href="door" class="Navbarlia">Door</a></li>
        </ul>
        <ul class="Navbar">
            <li class="Navbarli"><a href="logs" class="Navbarlia">Logs</a></li>
            <li class="Navbarli"><a href="streams" class="Navbarlia">Streams</a></li>
            <li class="Navbarli"><a href="users" class="Navbarlia">Users</a></li>
        </ul>
    </div>
</nav>