<nav>
    <div class="nav-parent">
        <span>
            <a href="logs" class="nav-bs button1">Logs</a>
        </span>
        <span>
            <a href="lights" class="nav-bs button1">Lights</a>
        </span>
        <span>
            <a href="door" class="nav-bs button1">Door</a>
        </span>
        <span>
            <a href="streams" class="nav-bs button1">Streams</a>
        </span>
        <span>
            <a href="users" class="nav-bs button1">Users</a>
        </span>
    </div>
</nav>