<!DOCTYPE html>
<html>
<%- include('headers.html'); -%>
<title>Stream</title>
<body>
    <div class="mobile-container">
        <%- include('nav.html'); -%>
        <iframe name="dummyframe" style="width:0; height:0; border:none" ></iframe>
        <div id="myBody" class="flex-container-column">
            <h2>Streams</h2>
            <div class="flex-container-row">
                <img class="stream" src="/streams/door"  alt="door"/>
            </div>
        </div>
    </div>
</body>
</html>