<!DOCTYPE html>
<html>
<%- include('headers.html'); -%>
<title>Stream</title>
<style>
    .flex-container {
        display: flex;
        width: auto;
        height: auto;
        text-align: center;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
</style>
<body>
    <div class="mobile-container">
        <%- include('nav.html'); -%>
        <div class="flex-container-row">
            <h2>Streams</h2>
        </div>
        <div class="flex-container-row">
            <div class="flex-container">
                <img style="object-fit: cover; width: 100%; height: auto;" src="/streams/door"  alt="door"/>
            </div>
        </div>
    </div>
</body>
</html>