<!DOCTYPE html>
<html>
<%- include('headers.html'); -%>
<title>Door</title>
<body>
<div class="mobile-container">
    <%- include('nav.html'); -%>
    <iframe name="dummyframe" style="width:0; height:0; border:none" ></iframe>
    <div id="outer-box">
        <div id="inner-box">
            <div class="flex-container-column">
                <h1>User Profile</h1>
                <br>
                Your IP is: <%- test %>
                <br>
                <%- userProfile %>
            </div>
        </div>
    </div>
</div>
</body>
</html>