body {
  background:
          linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
          linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
          linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
          linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
          linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
          linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}

.App {
  text-align: center;
  min-height: 85vh;
  background-color: #282c34;
}


.mainBackground  {
  /*background-color: #181818;*/
  color: white;
}

.color-one {
  color: #be513f;
}
.color-two {
  color: #9f3a2a;
}
.color-three {
  color: #5cdb95;
}
.color-four {
  color: #94796c;
}
.color-five {
  color: #ac887b;
}
.color-five {
  color: #769d7b;
}

.nav-parent {
  /*background-color: black;*/
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  margin: auto;
}
.nav-bs {
  /*background-color: #323232;*/
  font-size: 2vw;
  /*color: #5cdb95;*/
  width: 30vw;
  height: 10vh;
}

h1 {
  display: block;
  font-size: 5em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.center {
  text-align: center;
  margin: auto;
  width: 50%;
  /*border: 3px solid grey;*/
  padding: 10px;
}

.vertical {
  position: absolute;
  top: 25%;
  transform: translateY(-25%);
  margin: 0 auto;
  right: 0;
  left: 0;
}

a.button1{
  display:inline-block;
  padding:2.5vh 2vh;
  /*padding: 20%;*/
  border:0.1em solid #5cdb95;
  /*margin:0 0.3em 0.3em 0;*/
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}
a.button1:hover{
  color:#000000;
  background-color:#FFFFFF;
}
@media all and (max-width:30em){
  a.button1{
    display:block;
    margin:0.4em auto;
    }
}

.stream {
  max-height: 50vh;
  max-width: 90vw;
  /*width: 96vw*/
}

.seek {
  text-decoration: none;
  display: inline-block;
  padding: 1vh 2vw;
  background-color: #f1f1f1;
  color: black;
  border-radius: 50%;
}

.seek:hover {
  background-color: #5cdb95;
  color: black;
}

.Navbar {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.Navbarli {
  float: left;
  width: 33.33%;
  height: 6vh;
}

.Navbarlia {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 5vmin;
  transform: translateY(1vh);
}

.Navbarlia:hover {
  background-color: #111111;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.mobile-container {
  max-width: 98vw;
  margin: auto;
  background-color: #555;
  height: 97vh;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 5vh;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

#inner-box {
  /*border: 1px solid black;*/
  width: 100%;

}

#outer-box {
  /*border: 1px solid red;*/
  width:100%;
  height:90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container-column {
  /*border: 1px solid purple;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.flex-container-row {
  /*border: 1px solid purple;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  /*flex-grow: 2;*/
}